@charset "UTF-8";

body {
    background-color: rgb(148, 221, 145);
    font-family: Arial;
    font-size: 20px;
}

h1 {
    color:rgb(17, 80, 12);
}

p {
    text-align: justify;
    color:rgb(17, 80, 12);
}